# DB
DB_USER=yourDBadmin
DB_PASS=yourDBpassword
DB_PORT=5432
DB_NAME=tdbo-db

# App
APP_PORT=3000

# Admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@tdbo.com
ADMIN_PASSWORD=adminuserpassword

# Auth
JWT_SECRET=yourJWTsecretMAYnotKEEPyouSAFE