logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.*
!.env.example
.cache
.parcel-cache
.next
out
.nuxt
dist
.output
.cache/
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port
.vscode-test
.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/
db
refs
package-lock.json
eslint*
vite.config.js
logs
*.log
report.*.json
pids
*.pid
*.seed
*.pid.lock
coverage/
*.lcov
.nyc_output
.grunt
lib-cov
.cache/
.parcel-cache
.vite/
.eslintcache
.stylelintcache
.npm
node_modules/
bower_components/
jspm_packages/
web_modules/
.pnpm-store
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
.env
.env.*
!.env.example
.next
out
.nuxt
.output
dist
dist-ssr
.vuepress/dist
.temp
.svelte-kit/
.docusaurus
.react-router/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.tsbuildinfo
*.tgz
.node_repl_history
.lock-wscript
.tern-port
.serverless/
.fusebox/
.dynamodb/
.firebase/
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
test*
.test*