.cache
.cache/
.docusaurus
.dynamodb/
.env
.eslintcache
.firebase/
.fusebox/
.grunt
.idea
.lerna-debug.log*
.local
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.output
.parcel-cache
.pids
.pnpm-store
.pnp.*
.react-router/
.serverless/
.slog
.sln
.svelte-kit/
.sw?
.tern-port
.vscode/*
.vscode-test
.yarn/*
.yarn-integrity
.yarn/patches
.yarn/plugins
.yarn/releases
.yarn/sdks
.yarn/versions
.DS_Store
dist
dist-ssr
db
fusebox/
jspm_packages/
lib-cov
logs
next
node_modules/
npm-debug.log*
out
package-lock.json
pids
refs
report.*.json
sln
test*
test_*
test.*
test-*
test*.log
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo
vscode-test
web_modules/
yarn-debug.log*
yarn-error.log*
*.DS_Store
*.idea
*.lcov
*.local
*.log
*.njsproj
*.node_repl_history
*.ntvs*
*.njsproj
*.pid
*.pid.lock
*.seed
*.sln
*.suo
*.sw?
*.tgz
*.tsbuildinfo
*.tsbuildinfo
*.vitepress/cache
*.vitepress/dist
*.yarn-integrity
*.zip
.vite 
docker-compose.override.yml
tdbo.sh