/* =============== IMPORTED FONTS =============== */

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/fredoka-one.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Varela Round';
  src: url('./assets/fonts/VarelaRound-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* =============== VARIABLES =============== */

:root {
  --black: #222222;
  --white: #fdfdfd;
  --light-grey: #cccccc;
  --light-green: #80B46D;
  --green: #527048;
  --dark-green: #41573A;
  --light-yellow: #efea5f;
  --yellow: #e1df44;
  --red: #C96A63;
  --montserrat: 'Montserrat', sans-serif;
  --fredoka: 'Fredoka', sans-serif;
  --jakarta: 'Plus Jakarta Sans', sans-serif;
}

/* =============== GENERAL STYLES =============== */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--white);
  font-family: var(--jakarta);
  font-size: 20px;
}

.app-main {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  font-family: var(--montserrat);
}

/* =============== REGISTER PAGE =============== */

.register-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 58rem;

  .register-form {
    width: 45%;

    h1 {
      margin: 0.5rem 0;

      span:nth-of-type(1) {
        color: var(--dark-green);
      }

      span:nth-of-type(2) {
        color: var(--green);
      }

      span:nth-of-type(3) {
        color: var(--light-green);
      }
    }

    form {
      input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: none;
        background: none;
        font: inherit;
        color: inherit;
      }

      div {
        display: flex;
        flex-direction: column;

        label {
          position: relative;
          left: 0.5rem;
          padding: 0.4rem 0 0.6rem;
          font-family: var(--montserrat);
          font-weight: 400;
          font-size: 0.9rem;
          color: var(--dark-green);
        }

        input {
          padding: 0.4rem 0.6rem;
          border: 0.15rem solid var(--light-green);
          border-radius: 0.9rem;
          font-family: var(--jakarta);
          font-size: 1rem;
          color: var(--dark-green);
          transition: all 0.3s ease;

          &::placeholder {
            color: var(--light-grey);
          }

          &:hover {
            border-color: var(--light-green);  
          }

        }




      }
    }
  }

  .image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 35%;

    div {
      width: 100%;
      aspect-ratio: 1/1;

      &::before {
        position: absolute;
        content: '';
        width: 100%;
        aspect-ratio: 1 / 1;
        left: 0.5rem;
        top: 0.5rem;
        border-radius: 2rem;
        background: var(--light-green);
        z-index: 2;
      }

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        aspect-ratio: 1 / 1;
        left: 1.5rem;
        bottom: 0;
        border-radius: 2rem;
        background: var(--green);
        z-index: 3;
      }

      img {
        position: relative;
        width: 100%;
        border-left: 0.5rem solid var(--light-yellow);
        border-bottom: 0.5rem solid var(--light-yellow);
        border-radius: 2rem;
        box-shadow: -1.5rem 1.5rem 0 var(--yellow);
        z-index: 10;
      }
    }
  }
}